﻿

<div class="row">
    <div class="col-md-12">
        <div class="col-md-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Admin Menü</h4>
                </div>
                <div class="panel-body">
                    <ul class="nav nav-pills nav-stacked">
                        <li class="active">@Html.ActionLink("Admin", "Index", "Admin")</li>
                  @*      <li>@Html.ActionLink("Slider", "Slider", "Admin")</li>*@
                        <li>@Html.ActionLink("Yazı", "Yazı", "Admin")</li>
                        <li>@Html.ActionLink("En Çok Satan", "Satan", "Admin")</li>
                        <li>@Html.ActionLink("En Uygun Fiyat", "Ucuz", "Admin")</li>
                        <li>@Html.ActionLink("En Yeni Ürün", "Yeni", "Admin")</li>
                        
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-10">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>Admin Duyuru</h4>
                    </div>
                    <div class="panel-body">
                        <p>
                        -Tabloları düzenlemek için ilgili sayfaya gidiniz. Ardından işlem yapmak istediğiniz ürünü seçin. Açılan sayfada ilgili kolonu 1 ya da 0 ile doldurunuz.  
                        
                            </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

