﻿

@model List<WebProje1.Urunler>


<h2>En Yeni Ürün Tablosu Düzenle</h2>
<table class="table">
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.UrunID</td>
            <td>@item.Adi</td>
            <td>@item.Fiyat</td>
            <td>@item.Beden</td>
            <td><a href='@Url.Action("YeniEkle", "Admin", new { ID = item.UrunID })' class='btn btn-xs btn-info tooltips' title='Düzenle'>Düzenle</a></td>
        </tr>
    }
</table>