/* here you can put your own css to customize and override the theme */


@media (min-width: 992px) {
.page-sidebar {
width: 150px;
}
}
@media (min-width: 992px) {
.page-footer {
height: 90px!important;
padding-left:135px;
padding-top:5px;
}
}
@media (min-width: 992px) {
.page-content-wrapper .page-content {
margin-left: 150px;
padding:50px!important;
padding-left:15px!important;

}
}
@media (min-width: 992px) {
    .page-sidebar-menu.page-sidebar-menu-hover-submenu li .sub-menu {
        
        display: none;
       
        width: 150px;
        z-index: 5000;
        position: absolute;
        left: -85px !important; 
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px;
        border-radius: 4px;
    }
}

@media (min-width: 992px) {
    .page-sidebar-menu-closed.page-sidebar-menu-hover-submenu li .sub-menu > li > a {
        /*margin: 14px;*/
        padding: 0;
        /*left: 115px;*/

    }
}
@media (min-width: 992px) {
    .page-header.navbar .page-logo {
        float: left;
        display: block;
        width: 235px;
        height: 50px;
        padding-left: 17px;
        padding-right: 0px;
    }
}
@media (min-width: 992px) {
    .page-sidebar-closed .page-sidebar .page-sidebar-menu.page-sidebar-menu-closed > li.open > .sub-menu, .page-sidebar-closed .page-sidebar .page-sidebar-menu.page-sidebar-menu-closed > li > .sub-menu {
      
        
        z-index: 2000;
        position: absolute;
        left: 45px !important;
        position: absolute;
           float: left;
    display: block;
    width: 235px;
    height: 50px;
    padding-left: 17px;
    padding-right: 0px;
  
    }
}
