﻿@using WebProje1.Models;
@model IEnumerable<KategoriDto>


@foreach (var item in Model)
{

    if (item.KatID != null)
    {
        <li class="nav-item">
        
               <a href="@Url.Action("Products", "Home", new { KatID = item.KatID })" class="nav-link ">
                <i class="fa fa-asterisk">  </i>
                <span class="title">@item.KatName</span>
                </a>
                <span class="arrow"></span>        
        </li>

    }
}


            @*<li class="nav-item  ">
                    <a href="@Url.Action("Products", "Home")" class="nav-link ">
                        <i class="fa fa-asterisk"></i>
                        <span class="title">Pantolon</span>
                        <span class="arrow"></span>
                    </a>
                    <ul class="sub-menu">
                        <li class="nav-item  ">
                            <a href="components_date_time_pickers.html" class="nav-link ">
                                <span class="title">Kumaş Pantolon </span>
                            </a>
                        </li>
                        <li class="nav-item  ">
                            <a href="components_color_pickers.html" class="nav-link ">
                                <span class="title">Keten Pantolon</span>
                                <span class="badge badge-danger">2</span>
                            </a>
                        </li>
                        <li class="nav-item  ">
                            <a href="components_select2.html" class="nav-link ">
                                <span class="title">Kot Pantolon</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item  ">
                    <a href="@Url.Action("Products", "Home")" class="nav-link ">
                        <i class="fa fa-asterisk"></i>
                        <span class="title">Triko</span>
                        <span class="arrow"></span>
                    </a>
                    <ul class="sub-menu">
                        <li class="nav-item  ">
                            <a href="form_controls.html" class="nav-link ">
                                <span class="title">
                                    Penye
                                    <br>
                                </span>
                            </a>
                        </li>
                        <li class="nav-item  ">
                            <a href="form_controls_md.html" class="nav-link ">
                                <span class="title">
                                    Kazak

                                </span>
                            </a>
                        </li>
                        <li class="nav-item  ">
                            <a href="form_validation.html" class="nav-link ">
                                <span class="title">Hırka</span>
                            </a>
                        </li>
                        <li class="nav-item  ">
                            <a href="form_validation.html" class="nav-link ">
                                <span class="title">Yelek</span>
                            </a>
                        </li>


                    </ul>
                </li>
                <li class="nav-item  ">
                    <a href="@Url.Action("Products", "Home")" class="nav-link ">
                        <i class="fa fa-asterisk"></i>
                        <span class="title">Mont</span>
                        <span class="arrow"></span>
                    </a>
                    <ul class="sub-menu">
                        <li class="nav-item  ">
                            <a href="elements_steps.html" class="nav-link ">
                                <span class="title">Kaban</span>
                            </a>
                        </li>
                        <li class="nav-item  ">
                            <a href="elements_lists.html" class="nav-link ">
                                <span class="title">Palto</span>
                            </a>
                        </li>
                        <li class="nav-item  ">
                            <a href="elements_ribbons.html" class="nav-link ">
                                <span class="title">Pardüse</span>
                            </a>
                        </li>
                        <li class="nav-item  ">
                            <a href="elements_overlay.html" class="nav-link ">
                                <span class="title">Spor</span>
                            </a>
                        </li>

                    </ul>
                </li>
                <li class="nav-item  ">
                    <a href="@Url.Action("Products", "Home")" class="nav-link ">
                        <i class="fa fa-asterisk"></i>
                        <span class="title">Takım Elbise</span>
                        <span class="arrow"></span>
                    </a>
                    <ul class="sub-menu">
                        <li class="nav-item  ">
                            <a href="charts_amcharts.html" class="nav-link ">
                                <span class="title">Normal Kesim</span>
                            </a>
                        </li>
                        <li class="nav-item  ">
                            <a href="charts_flotcharts.html" class="nav-link ">
                                <span class="title">Dar Kesim</span>
                            </a>
                        </li>
                        <li class="nav-item  ">
                            <a href="charts_flowchart.html" class="nav-link ">
                                <span class="title">Tek Ceket</span>
                            </a>
                        </li>

                        <li class="nav-item  ">
                            <a href="@Url.Action("Products", "Home")" class="nav-link ">
                                <span class="title">HighCharts</span>
                                <span class="arrow"></span>
                            </a>
                            <ul class="sub-menu">
                                <li class="nav-item ">
                                    <a href="charts_highcharts.html" class="nav-link "> HighCharts </a>
                                </li>
                                <li class="nav-item ">
                                    <a href="charts_highstock.html" class="nav-link "> HighStock </a>
                                </li>
                                <li class="nav-item ">
                                    <a href="charts_highmaps.html" class="nav-link "> HighMaps </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="nav-item  ">
                    <a href="@Url.Action("Products", "Home")" class="nav-link ">
                        <i class="fa fa-asterisk"></i>
                        <span class="title">Aksesuar</span>
                        <span class="arrow"></span>
                    </a>
                    <ul class="sub-menu">
                        <li class="nav-item  ">
                            <a href="maps_google.html" class="nav-link ">
                                <span class="title">Kravat/Papyon</span>
                            </a>
                        </li>
                        <li class="nav-item  ">
                            <a href="maps_vector.html" class="nav-link ">
                                <span class="title">Kol Düğmesi</span>
                            </a>
                        </li>
                    </ul>
                </li>*@

