﻿@model List<WebProje1.Urunler>

<!-- BEGIN PRODUCT LIST -->
<div class="row product-list">
    <!-- PRODUCT ITEM START -->
    @foreach (var item in Model)

    {
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="product-item">
                <div class="pi-img-wrapper">

                    <img src="../../assets/frontend/pages/img/products/k3.jpg" class="img-responsive" alt="@item.Adi">

                    <div>

                        <a href="../../assets/frontend/pages/img/products/model1.jpg" class="btn btn-default fancybox-button">Büyüt</a>
                        <a href="#product-pop-up" class="btn btn-default fancybox-fast-view">Ürüne Git</a>

                    </div>
                </div>
                <div>
                    <div class="col-md-6">
                        <p><strong>@item.Adi</strong></p>
                    </div>
                    <div class="col-md-6">
                        <p style=" text-align:right; color @item.Renk ;">@item.Renk</p>

                    </div>
                </div>
                <h3><a href="shop-item.html"></a></h3>
                <div class="pi-price">@item.Fiyat ₺</div>

                <a href="#" class="btn btn-default add2cart">Satın Al</a>

            </div>
        </div>
    }
    <!-- PRODUCT ITEM END -->

</div>



<!-- END PRODUCT LIST -->
<!-- BEGIN PAGINATOR -->
<div class="row">
    <div class="col-md-8 col-sm-8" id="sayfa">
        <div class="data-container">
            <ul class="pagination pull-left">
                <li><a href="#">&laquo;</a></li>
                <li><a href="#">1</a></li>
                <li><span>2</span></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">&raquo;</a></li>
            </ul>
        </div>
    </div>
</div>
<!-- END PAGINATOR -->
