﻿
@{
    ViewBag.Title = "Kurumsal";
}


<div class="main">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="index.html">Ana Sayfa</a></li>
            <li class="active">Hakkımızda</li>
        </ul>
        <!-- BEGIN SIDEBAR & CONTENT -->
        <div class="row margin-bottom-40">
            <!-- BEGIN CONTENT -->
            <div class="col-md-12 col-sm-12">

                <div class="content-page">
                    <div class="row margin-bottom-30">
                        <!-- BEGIN INFO BLOCK -->
                        <div class="col-md-7">
                            <h2 class="no-top-space"><b>&nbsp; Şirketimiz</b></h2>
                            <div>
                                &nbsp;  &nbsp; Deneme Deneme
                            </div>
                            <!-- BEGIN LISTS -->

                            <h2 color="orange"><b> &nbsp; Misyon &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp; Vizyon</b></h2>
                            <div class="col-md-6">
                                Deneme Deneme   </div>

                            <div class="col-md-6">
                                Deneme Deneme  </div>

                            <div></div>
                            @*<div class="row front-lists-v1">
                                    <div class="col-md-6">
                                        <ul class="list-unstyled margin-bottom-20">
                                            <br>
                                            <h2 color="orange"><b>İlkelerimiz</b></h2>
                                            <li><i class="fa fa-check"></i> Destek sistemi</li>
                                            <li><i class="fa fa-check"></i> %95 tanıma oranı </li>
                                            <li><i class="fa fa-check"></i> İsteğe göre eklenebilen özellikler</li>
                                        </ul>
                                    </div>
                                    <div class="col-md-6">
                                        <ul class="list-unstyled">
                                            <li><i class="fa fa-check"></i> Farklı kullanıma uygun</li>
                                            <li><i class="fa fa-check"></i> Cihaza özel kullanımlar </li>
                                            <li><i class="fa fa-check"></i> Herkes için basit kullanım</li>
                                        </ul>
                                    </div>
                                </div>*@
                            <!-- END LISTS -->
                        </div>
                        <!-- END INFO BLOCK -->
                        <div class="col-md-5">
                            <b><h2><b>İlkelerimiz</b></h2></b>
                            <div class="tab-pane active" id="tab_1">
                                <div class="panel-group" id="accordion1">
                                    <div class="panel panel-danger">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a href="#accordion1_1" data-parent="#accordion1" data-toggle="collapse" class="accordion-toggle">
                                                    Sistemli, Planlı, Yenilikçi Takım Çalışması
                                                </a>
                                            </h4>
                                        </div>
                                        <div class="panel-collapse collapse in" id="accordion1_1">
                                            <div class="panel-body">
                                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-info">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a href="#accordion1_2" data-parent="#accordion1" data-toggle="collapse" class="accordion-toggle collapsed">
                                                    Müşteri beklentilerinin ötesinde hizmet anlayışı
                                                </a>
                                            </h4>
                                        </div>
                                        <div class="panel-collapse collapse" id="accordion1_2">
                                            <div class="panel-body">
                                                Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch   et.
                                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-success">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a href="#accordion1_3" data-parent="#accordion1" data-toggle="collapse" class="accordion-toggle collapsed">
                                                    Karşılıklı güven ve Sorumluluk duygusu
                                                </a>
                                            </h4>
                                        </div>
                                        <div class="panel-collapse collapse" id="accordion1_3">
                                            <div class="panel-body">
                                                Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch   et.
                                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-warning">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a href="#accordion1_4" data-parent="#accordion1" data-toggle="collapse" class="accordion-toggle collapsed">
                                                    Her koşulda kazanmayı sağlayacak rekabetçi yaklaşım
                                                </a>
                                            </h4>
                                        </div>
                                        <div class="panel-collapse collapse" id="accordion1_4">
                                            <div class="panel-body">
                                                3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <!---Deneme-->
                    <div class="col-md-12 front-skills">

                        <h1 class="block">Proje Geliştirme Aşamaları</h1>
                        <div class="col-md-12 front-skills">
                            <div class="progress progress-striped active">
                                <div class="progress-bar progress-bar-info" style="width: 15%">
                                    <span class="sr-only">

                                    </span>
                                </div>
                                <div class="progress-bar progress-bar-success" style="width: 10%">
                                    <span class="sr-only">
                                        10% Complete (warning)
                                    </span>
                                </div>
                                <div class="progress-bar progress-bar-muted" style="width: 13%">
                                    <span class="sr-only">
                                        10% Complete (danger)
                                    </span>
                                </div>
                                <div class="progress-bar progress-bar-aaa" style="width: 33%">
                                    <span class="sr-only">
                                        10% Complete (danger)
                                    </span>
                                </div>
                                <div class="progress-bar progress-bar-warning" style="width: 21%">
                                    <span class="sr-only">
                                        10% Complete (danger)
                                    </span>
                                </div>
                                <div class="progress-bar progress-bar-danger" style="width: 8%">
                                    <span class="sr-only">
                                        10% Complete (danger)
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <b>Planlama </b></div>
                            <div class="col-md-1"> <b> &nbsp; &nbsp; &nbsp; Analiz  </b></div>
                            <div class="col-md-3"> <b> &nbsp; &nbsp;  &nbsp;   &nbsp;  &nbsp;  Tasarım </> </b></div>
                            <div class="col-md-2"> <b> &nbsp; Üretim  &nbsp; &nbsp;  &nbsp; &nbsp;  </b>  </div>
                            <div class="col-md-3"> <b> &nbsp; &nbsp;   &nbsp; &nbsp;  &nbsp; &nbsp;   &nbsp; &nbsp;   &nbsp; &nbsp;   &nbsp; &nbsp;   &nbsp; &nbsp;   &nbsp; &nbsp;  Test  </b> </div>
                            <div class="col-md-1"> <b> Bakım  </b></div>
                        </div>
                        <div class="container"> <span></span></div>
                        <div class="container"> <span></span></div>
                        <div class="col-md-12 front-skills">

                            <div class="progress progress-striped active">
                                <div class="progress-bar progress-bar-info" style="width: 15%">
                                    <span class="sr-only">

                                    </span>
                                </div>
                                <div class="progress-bar progress-bar-success" style="width: 10%">
                                    <span class="sr-only">
                                        10% Complete (warning)
                                    </span>
                                </div>
                                <div class="progress-bar progress-bar-muted" style="width: 13%">
                                    <span class="sr-only">
                                        10% Complete (danger)
                                    </span>
                                </div>
                                <div class="progress-bar progress-bar-aaa" style="width: 33%">
                                    <span class="sr-only">
                                        10% Complete (danger)
                                    </span>
                                </div>
                                <div class="progress-bar progress-bar-warning" style="width: 21%">
                                    <span class="sr-only">
                                        10% Complete (danger)
                                    </span>
                                </div>
                                <div class="progress-bar progress-bar-danger" style="width: 8%">
                                    <span class="sr-only">
                                        10% Complete (danger)
                                    </span>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
            <!-- END CONTENT -->
        </div>
        <!-- END SIDEBAR & CONTENT -->
    </div>
</div>