﻿<head>
    <link href="https://fonts.googleapis.com/css?family=Cabin+Sketch" rel="stylesheet">
</head>
<div class="main">
    <div class="container">
        <!-- BEGIN SERVICE BOX -->
        <div class="row service-box margin-bottom-40">

            <div class="col-md-6 col-sm-6">
                <div class="service-box-heading">
                    <span style="font-color:black; font-family:'Cabin Sketch' , cursive;   "><h4><em><i class="fa fa-compress green"></i></em><b>İletişim Bilgilerimiz</b></h4></span>

                <br /><br />
                </div>
                <b><u>Ünvan</u></b><br>
                  <p><i>Kısmet Konfeksiyon</i> </p><br> 
         
                <b><u>Adres</u></b><br>
                <p>Çark Caddesi Cevatbey İşhanı Zemin Kat No:67-68  Sakarya, Türkiye</p><br>
                <b><u>Telefon</u></b><br>
                <p>(0264) 147 85</p><br>
                <b><u>E-mail</u></b><br>
                <p>info@kismetkonfeksiyon.com</p><br>
                <ul class="social-icons social-icons-color">
                    <li><a class="facebook" data-original-title="Facebook" href="https://www.facebook.com/okzasoft/?ref=ts&fref=ts"></a></li>
                    <li><a class="twitter" data-original-title="Twitter" href="https://twitter.com/OkzasoftBilisim?lang=tr"></a></li>
                    <li><a class="linkedin" data-original-title="Linkedin" href="https://www.linkedin.com/company/10839391?trk=tyah&trkInfo=clickedVertical%3Acompany%2CclickedEntityId%3A10839391%2Cidx%3A1-1-1%2CtarId%3A1469435227636%2Ctas%3Aokzasoft"></a></li>
                    <li><a class="instagram" data-original-title="Instagram" href="https://www.instagram.com/okzasoft/"></a></li>
                    <li><a class="foursquare" data-original-title="Foursqare" href=" https//tr.foursquare.com/v/okzasoft-bili%C5%9Fim/5780d34acd107199c6eea590"></a></li>
                </ul>
                </div>
            <div class="col-md-6 col-sm-6">
                <div class="service-box-heading">
                    <span style="font-color:black; font-family:'Cabin Sketch' , cursive;   "><h4><em><i class="fa fa-location-arrow blue"></i></em><b>Konumumuz</b></h4></span>

                    
                </div>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d755.7378147110596!2d30.338209829213547!3d40.74109801481815!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNDDCsDQ0JzI3LjkiTiAzMMKwMjAnMTkuNSJF!5e0!3m2!1str!2str!4v1469195735165" width="450" height="350" frameborder="0" style="border:10" allowfullscreen></iframe>
          
                <div class="col-md-11">
                    <div class="panel panel-aaa">
                        <div class="panel-body">
                            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                                <!-- Indicators -->
                                <ol class="carousel-indicators">
                                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                                    <li data-target="#myCarousel" data-slide-to="1"></li>
                                    <li data-target="#myCarousel" data-slide-to="2"></li>
                                    <li data-target="#myCarousel" data-slide-to="3"></li>
                                </ol>

                                <!-- Wrapper for slides -->
                                <div class="carousel-inner" role="listbox">
                                    <div class="item active">
                                        <img src="http://www.berettagomlek.com.tr/wp-content/uploads/2013/03/kisakol_pamuklu_gomlek_16.jpg" alt="" />
                                    </div>

                                    <div class="item">
                                        <img src="http://www.berettagomlek.com.tr/wp-content/uploads/2013/03/kisakol_pamuklu_gomlek_13.jpg" alt="" />
                                    </div>

                                    <div class="item">
                                        <img src="http://www.berettagomlek.com.tr/wp-content/uploads/2013/03/kisakol_pamuklu_gomlek_5.jpg" alt="" />
                                    </div>

                                    <div class="item">
                                        <img src="http://www.berettagomlek.com.tr/wp-content/uploads/2013/03/kisakol_pamuklu_gomlek_7.jpg" alt="" />
                                    </div>
                                </div>

                                <!-- Left and right controls -->
                                <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                    <span class="sr-only">Önceki</span>
                                </a>
                                <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                    <span class="sr-only">Sonraki</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
</div>





