﻿@{
    ViewBag.Title = "Home Page";
}
@using WebProje1.Resources
@model List<Urunler>



<div class="row">
    <div class="col-md-8">
        <div class="panel panel-aaa" style="height:300px">
            <div class="panel-body">
                <div id="myCarousel" class="carousel slide" data-ride="carousel">

                    <ol class="carousel-indicators">
                        @{ var isActive = true;}
                        @foreach (var item in Model.Take(3))
                        {
                            if (isActive)
                            {
                                isActive = false;
                                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>

                            }
                            else
                            {
                                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                            }
                        }
                    </ol>
                    <div class="carousel-inner" role="listbox">
                        @{ var isActive1 = true;}
                        @foreach (var item in Model.Take(3))
                        {
                            if (isActive1)
                            {
                                isActive1 = false;

                                <div class="item active">
                                    <img src="@item.Slider" alt="" height="325 " />
                                </div>
                            }
                            else
                            {
                                <div class="item">
                                    <img src="@item.Slider" height="325" alt="" />
                                </div>
                            }


                        }

                    </div>

                    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>

                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4">

        <div class="panel panel-aaa" style="height:300px">
            <div class="panel-heading">
                Kısmet Konfeksiyon
            </div>
            <div class="panel-body">
                <p>
                    @Resource.anasayfayazi
                </p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="panel panel-siyah" style="height:440px">
            <div class="panel-heading">@Resource.eniyifiyat</div>
            <div class="panel-body">
                <!-- En Son eklenen duyuru getiriyoruz -->
                @foreach (var item in Model.Where(x => x.UcuzID == 1))
                {
                    <div class="blog-list-post clearfix">
                        <div class="col-md-6">
                            @if (item.Renk == null)
                            {
                      <a><img   class="img-responsive"  style="height:100px!important;" src="@item.Resim" width="150" style="height:100px!important;" alt="item.DuyuruBaslik" /></a>
                            }
                            else
                            {
                                <a><img  class="img-responsive" style="height:100px!important;" src="@item.Resim" width="150"  alt="item.DuyuruBaslik"></a>
                            }
                        </div>
                        <div class="col-md-6">
                            <h5 class="blog-list-title"><a href="@Url.Action("UrunDetay", "Home", new { id = item.UrunID })">@item.Açıklama</a></h5>
                            <hr style="color:coral">
                            <p class="blog-list-meta small-text"><span><a href="@Url.Action("UrunDetay", "Home", new { id = item.UrunID })">@item.Fiyat ₺</a></span></p>
                        </div>
                    </div>

                }
            </div>
            <div class="panel-footer text-center">
                <button type="button" class="btn" style="background-color:lightsteelblue"><a href="@Url.Action("Products","Home")"><span style="color:white">@Resource.tum @Resource.urunler</span></a></button>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-visne" style="height:440px">
            <div class="panel-heading">@Resource.enyeniurun</div>
            <div class="panel-body">
                <!-- En Son eklenen duyuru getiriyoruz -->
                @foreach (var item in Model.Where(x => x.YeniID == 1))
                {
                    <div class="blog-list-post clearfix">
                        <div class="col-md-6">
                            @if (item.Renk == null)
                            {
                                <a><img class="img-responsive" src="" width="150" height="100" alt="item.DuyuruBaslik" /></a>
                            }
                            else
                            {
                                <a><img class="img-responsive" src="@item.Resim" width="150" height="100" alt="item.DuyuruBaslik"></a>
                            }
                        </div>
                        <div class="col-md-6">
                            <h5 class="blog-list-title"><a href="@Url.Action("UrunDetay", "Home", new { id = item.UrunID })">@item.Açıklama</a></h5>
                            <hr style="color:coral">
                            <p class="blog-list-meta small-text"><span><a href="@Url.Action("UrunDetay", "Home", new { id = item.UrunID })">@item.Fiyat₺</a></span></p>
                        </div>
                    </div>

                }
            </div>
            <div class="panel-footer text-center">
                <button type="button" class="btn" style="background-color:rosybrown"><a href="@Url.Action("Products","Home")"><span style="color:white">@Resource.tum @Resource.urunler</span></a></button>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="panel panel-yesil" style="height:440px">
            <div class="panel-heading">@Resource.encoksatan</div>
            <div class="panel-body">
                <!-- En Son eklenen duyuru getiriyoruz -->
                @foreach (var item in Model.Where(x => x.SatanID == 1))
                {
                    <div class="blog-list-post clearfix">
                        <div class="col-md-6">
                            @if (item.Renk == null)
                            {
                                <a><img class="img-responsive" src="" width="150" height="100" alt="item.DuyuruBaslik" /></a>
                            }
                            else
                            {
                                <a><img class="img-responsive" src="@item.Resim" width="150" height="100" alt="item.DuyuruBaslik"></a>
                            }
                        </div>
                        <div class="col-md-6">
                            <h5 class="blog-list-title"><a href="@Url.Action("UrunDetay", "Home", new { id = item.UrunID })">@item.Açıklama</a></h5>
                            <hr style="color:coral">
                            <p class="blog-list-meta small-text"><span><a href="@Url.Action("UrunDetay", "Home", new { id = item.UrunID })">@item.Fiyat₺</a></span></p>
                        </div>
                    </div>

                }
            </div>
            <div class="panel-footer text-center">
                <button type="button" class="btn" style="background-color:mediumseagreen"><a href="@Url.Action("Products","Home")"><span style="color:white">@Resource.tum @Resource.urunler</span></a></button>
            </div>
        </div>
    </div>

</div>
