﻿@model List<Urunler>
<link href="~/assets/global/css/components-rtl.css" rel="stylesheet">
<link href="~/assets/frontend/pages/css/style-shop.css" rel="stylesheet" type="text/css">
<link href="~/assets/frontend/pages/css/jquery.fancybox.css" rel="stylesheet" type="text/css">


<div class="panel panel-default">
    <div class="panel-body">
        <!-- BEGIN PRODUCT LIST -->
        <div class="row product-list">
            <div class="col-md-12">
                <!-- PRODUCT ITEM START -->
                @foreach (var item in Model)
                {

                    <div class="col-md-3">
                            <div class="product-item">
                                <div class="pi-img-wrapper">

                                    <img src="@item.Resim" class="img-responsive" alt="@item.Adi">

                                    <div>

                                        <a href="@item.Resim" class="btn btn-default fancybox-button">Büyüt</a>
                                        <a href="@Url.Action("UrunDetay", "Home", new { id = item.UrunID }) " class="btn btn-default fancybox-fast-view">Ürüne Git</a>

                                    </div>
                                </div>
                                <div>
                                    <div class="col-md-6">
                                        <p><strong>@item.Adi</strong></p>
                                    </div>
                                    <div class="col-md-6">
                                        <p style=" text-align:right; color @item.Renk ;">@item.Renk</p>

                                    </div>
                                </div>
                                <h3><a href="shop-item.html"></a></h3>
                                <div class="pi-price">@item.Fiyat ₺</div>

                                <a href="@Url.Action("Sepet", "Home", new { id = item.UrunID })" class="btn btn-default add2cart">Satın Al</a>

                            </div>
                        </div>


                }
                <!-- PRODUCT ITEM END -->
            </div>
        </div>
        <!-- END PRODUCT LIST -->
    </div>
    <div class="panel-footer text-center">
        <!-- BEGIN PAGINATOR -->
        <div class="row">
            <div class="col-md-8 col-sm-8" id="sayfa">
                <div class="data-container">
                    <ul class="pagination pull-left">
                        <li><a href="#">&laquo;</a></li>
                        <li><a href="#">1</a></li>
                        <li><span>2</span></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">&raquo;</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- END PAGINATOR -->

    </div>
</div>


<script type="text/javascript" src="~/assets/frontend/pages/css/jquery.zoom.min.js"></script>
<script type="text/javascript" src="~/assets/jquery.js"></script>
<script type="text/javascript" src="~/assets/jquery.simplePagination.js"></script>
<script type="text/javascript" src="~/assets/frontend/pages/css/jquery.zoom.js"></script>
<script type="text/javascript" src="~/assets/frontend/pages/css/jquery.fancybox.pack.js"></script>