﻿@model IEnumerable<WebProje1.Urunler>


<link href="~/assets/global/css/components-rtl.css" rel="stylesheet">
<link href="~/assets/frontend/pages/css/style-shop.css" rel="stylesheet" type="text/css">



    @foreach (var item in Model)
    {
        <div class="product-page">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="product-main-image">
                        <img src="@item.Resim"  class="img-responsive" data-BigImgsrc="@item.Resim">
                    </div>
                    <div class="product-other-images">
                        <a href="../../assets/frontend/pages/img/products/k3.jpg" class="fancybox-button" rel="photos-lib"><img alt="Berry Lace Dress" src="../../assets/frontend/pages/img/products/model3.jpg"></a>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <h1>@item.Adi</h1>
                    <div class="price-availability-block clearfix">
                        <div class="price">
                            <strong>@item.Fiyat<span>₺</span><strong>
                            <em><span>@(item.Fiyat * 118 / 100)</span></em>
                        </div>
                        <div class="availability">
                            Stok: <strong>Stoklarda</strong>
                        </div>
                    </div>
                    <div class="description">
                        <p>
                           @item.Açıklama
                        </p>
                    </div>
                    <div class="product-page-options">
                        <div class="pull-right">
                          
                            <select class="form-control input-sm">
                                <option>L</option>
                                <option>M</option>
                                <option>XL</option>
                            </select>
                            <label class="control-label">Size:</label>
                        </div>
                        <div class="pull-right">
                           
                            <select class="form-control input-sm">
                                <option>Red</option>
                                <option>Blue</option>
                                <option>Black</option>
                            </select>
                            <label class="control-label">Color:</label>
                        </div>
                    </div>
                    <div class="product-page-cart">
                        
                        <a href="@Url.Action("Sepet", "Home", new { id = item.UrunID })" class="btn add2cart" style="background-color:cadetblue; color:white;">Satın Al</a>
                    </div>
              
                    <ul class="social-icons">
                        <li><a class="facebook" data-original-title="facebook" href="#"></a></li>
                        <li><a class="twitter" data-original-title="twitter" href="#"></a></li>
                        <li><a class="googleplus" data-original-title="googleplus" href="#"></a></li>
                        <li><a class="evernote" data-original-title="evernote" href="#"></a></li>
                        <li><a class="tumblr" data-original-title="tumblr" href="#"></a></li>
                    </ul>
                </div>
                <div class="product-page-content">
                    <ul id="myTab" class="nav nav-tabs">
                        <li><a href="#Description" data-toggle="tab">Description</a></li>
                        <li><a href="#Information" data-toggle="tab">Information</a></li>
                        <li class="active"><a href="#Reviews" data-toggle="tab">Reviews (2)</a></li>
                    </ul>
                    <div id="myTabContent" class="tab-content">
                        <div class="tab-pane fade" id="Description">
                            <p>Lorem ipsum dolor ut sit ame dolore  adipiscing elit, sed sit nonumy nibh sed euismod laoreet dolore magna aliquarm erat sit volutpat Nostrud duis molestie at dolore. Lorem ipsum dolor ut sit ame dolore  adipiscing elit, sed sit nonumy nibh sed euismod laoreet dolore magna aliquarm erat sit volutpat Nostrud duis molestie at dolore. Lorem ipsum dolor ut sit ame dolore  adipiscing elit, sed sit nonumy nibh sed euismod laoreet dolore magna aliquarm erat sit volutpat Nostrud duis molestie at dolore. </p>
                        </div>
                   
                        </div>
                    </div>
                </div>

            </div>
    }
